.page {
  font-family: sans-serif;
  font-size: 14px;
  line-height: var(--main-line-h);
  letter-spacing: var(--main-letter-s);
  color: var(--main-txt-cl);
  background-color: var(--main-bcg-cl);
}
.logo {
  font-family: var(--logo-font);
}
.accent {
  color: var(--accent-txt-cl);
}
.link,
.logo {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}
/* Header */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
